body {
    color: white; 
}

.choice-container {
    display: flex; 
    margin: 0 auto; 
    width: 200px; 
    border-radius: 0; 
    background: gray; 
    min-width: 88rem;
}

.choice-container-hover {
    cursor: pointer; 
}

.choice-prefix {
    padding: 20px; 
    color: white; 
}

.choice-text {
    padding: 20px;
    width: 100%; 
}

.correct {
    background: green; 
}

.incorrect {
    background: red; 
}

/* Heads Up Display (hud) */
#hud {
    display: flex; 
    justify-content: space-between; 
}

.hud-prefix {
    text-align: center; 
    font-size: 20px; 
}

.hud-main-text {
    text-align: center;
}

#progressBar {
    width: 50px;
    height: 25px;
    border: 2px solid black; 
    overflow: hidden; 
}

#progressFull {
    height: 25px; 
    background: black; 
    width: 0%; 
}

@media screen and (max-width: 768px) {
    .choice-container {
        min-width: 40rem;
    }
}